// Override default variables before the import
$body-bg: #2a2a2b;

.split {
  display: flex;
  flex-direction: row;
}

.gutter {
  background-color: rgba(0, 0, 63, 0.1);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.nav-tabs {
  .nav-link {
    border: none;

  }
  .nav-link.active {
    background-color: white;
  }
}
//
//@media (min-width: 1400px) {
//  .container {
//    max-width: 1700px
//  }
//}

